chardet
flask[async]
flask-cors
ipython
ipython_pygments_lexers
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
langchain-text-splitters
langchainhub
langgraph
matplotlib
matplotlib-inline
mlxtend
networkx
openai
openpyxl
orjson
outcome
packaging
pandas
pathlib
pathspec
pillow
PyAutoGUI
pycparser
pydantic
tiktoken
urllib3
reportlab
pygraphviz


langgraph
pandas
langchain-google-genai
langchain_classic
